
button.createJobButton {
  border-radius: 4px;
  height: 40px;
  border: none;
  width: 100%;
  box-shadow: 0 1px 2px 0 rgba(16, 162, 234, 0.3);
  background: linear-gradient(#10A2EA, #0F99E8);
  color: #fff;
  cursor: pointer;

  &.disabled {
    opacity: .5;
    cursor: default;
  }
}