@import '../globals.scss';

.row {
  display: flex;
  height: 32px;
  margin: 0 $med-margin $med-margin $med-margin;
  &:first-child {
    margin-top: $med-margin;
  }

  .formBadge {  
    margin-right: $small-margin;
    width: 32px;
  }

  input {
    height: 100%;
    width: 100%;
    border-radius: 4px;
    padding-left: $small-margin;
    border: none;
    background: $input-background;
    color: $input-color;
  }
}