@import '../globals.scss';

#new-job-form {
  z-index: 10;
  position: absolute;
  width: 25%;
  top: $big-margin;
  left: $big-margin;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1), 0 1px 8px 0 rgba(0,0,0,0.1);
  min-width: 350px;
}