@import './globals.scss';

#info-toaster {
  position: absolute;
  z-index: 20;
  color: #FFF;
  line-height: 40px;
  padding: 0 10px 0 10px;
  text-align: center;
  top: $big-margin;
  right: $big-margin;
  border-radius: 8px;
  height: 40px;
  background: rgba(51,51,51,0.9);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1), 0 1px 8px 0 rgba(0,0,0,0.1);
  transition: all 250ms ease-in-out;
  min-width: 150px;

  &:hover {
    cursor: pointer;
    opacity: .5;
  }

  &.hidden {
    opacity: 0;
    right: -50px;
  }
}